.slider {
  position: relative;
  width: 168px;
  height: 168px;
  margin-left: 218px;
  margin-top: 56px;
}
span {
  position: absolute;
  left: 55px;
  top: 41px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
}