.valueSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;

  .valueContainer {
    height: 220px;
    width: 130px;
    display: flex;
    flex-direction: column;

    .valueImg {
      width: 130px;
      height: 130px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      img {
        width: 80px;
        height: 80px;
      }
    }
    .valueName {
      margin-top: 20px;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      color: #decb51;
    }
  }
}

/*.slider {
  position: relative;
  width: 168px;
  height: 168px;
  margin-left: 218px;
  margin-top: 56px;
}
span {
  position: absolute;
  left: 55px;
  top: 41px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
}*/