body {
  background-color: #393d48;
}
.landing {
  background-color: #393d48;
  padding: 0;
  margin: 0;
  .landingHeader {
    display: flex;
    justify-content: space-between;
    .buttons {
      display: flex;
    }
    button {
      height: 50px;
      width: auto;
      right: 0;
      border: 0;
      font-size: 12pt;
      margin-right: 20px;
      background-color: #393d48;
      color: white;
    }
  }
  .sendBtn {
    text-align: center;
    button {
      height: 42px;
      width: 160px;
      box-shadow: 0 0 12px 0 rgba(222, 203, 81, 0.29);
      margin: 0 5px 20px;
      //border: 0;
      background-color: #decb51;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5;
      color: #393d48;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
}