.buttonDiv {
  button {
    height: 50px;
    width: auto;
    right: 0;
    border: 0;
    font-size: 12pt;
    margin-right: 20px;
    background-color: #393d48;
    color: white;
  }
}
